[Unit]
Description=dero daemon service
After=network.target

[Service]
Type=forking
ExecStart=/root/new-node-cryptonote-pool/Files/dero_linux_amd64/derod-linux-amd64
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
