[Unit]
Description=dero wallet service
After=network.target

[Service]
Type=forking
ExecStart=/root/new-node-cryptonote-pool/Files/dero_linux_amd64/dero-wallet-cli-linux-amd64 --password= --rpc-server --rpc-bind=127.0.0.1:1111
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
